// ==========================================================================

// Expanded Singles for Craft CMS
// Author: Verbb - https://verbb.io/

// ==========================================================================

.cp-nav-link-mask {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #e4edf6;
};