{% extends 'expanded-singles/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set fullPageForm = true %}
{% set selectedTab = 'general' %}
{% set pageTitle = 'General Settings' | t('expanded-singles') %}
{% set pageAction = 'plugins/save-plugin-settings' %}
{% set pageUrl = 'expanded-singles/settings' %}

{% block settingsContent %}
{{ forms.lightswitchField({
    id: 'expandSingles',
    name: 'expandSingles',
    label: 'Expand Singles' | t('expanded-singles'),
    on: settings.expandSingles,
    instructions: 'Expands the Singles link on the Entries page to list them like Channels and Structures.' | t('expanded-singles'),
    warning: macros.configWarning('expandSingles', 'expanded-singles'),
}) }}

{{ forms.lightswitchField({
    id: 'redirectToEntry',
    name: 'redirectToEntry',
    label: 'Redirect to Entry' | t('expanded-singles'),
    on: settings.redirectToEntry,
    instructions: 'Automatically redirects to edit the Single Entry when clicking on the item in the sidebar.' | t('expanded-singles'),
    warning: macros.configWarning('redirectToEntry', 'expanded-singles'),
}) }}
{% endblock %}
