{% import '_includes/forms' as forms %}

{{ forms.lightswitchField({
    id: 'expandSingles',
    name: 'expandSingles',
    label: 'Expand Singles'|t,
    on: settings.expandSingles,
    instructions: 'Expands the Singles link on the Entries page to list them like Channels and Structures.'|t
}) }}

{{ forms.lightswitchField({
    id: 'redirectToEntry',
    name: 'redirectToEntry',
    label: 'Redirect to Entry'|t,
    on: settings.redirectToEntry,
    instructions: 'Automatically redirects to edit the Single Entry when clicking on the item in the sidebar.'|t
}) }}

<hr />

